/* Ogólny styl dla całej strony */
html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.2)), url(C:\Users\48783\Desktop\Gabinet\mikbeauty\photos\tło.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(173, 216, 230, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.8);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #ffffff;
}

.logo img {
    max-width: 80%;
    max-height: 80%;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-menu a:hover {
    color: #333;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(135deg, #87CEEB 0%, #c1dbe4 100%);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.appointment-btn {
    background-color: #87CEEB;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 900;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.appointment-btn:hover {
    background-color: #5EA5BB;
    transform: scale(1.05);
}

/* Footer Section */
footer {
    background-color: #ADD8E6;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}

footer .icon-container {
    display: flex;
    gap: 20px;
}

footer .icon-container a i {
    font-size: 32px;
    transition: font-size 0.3s ease;
}

footer .icon-container a:hover i {
    font-size: 36px;
}

footer .contact-info {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

footer .contact-info a {
    color: #ff9a9e;
    text-decoration: none;
    transition: color 0.6s ease;
}

footer .contact-info a:hover {
    color: #ffffff;
}

/* Styl ikon */
.icon-container i {
    margin: 0 10px;
    color: #333;
    font-size: 24px;
}

.icon-container i:hover {
    transform: scale(1.2);
    transition: 0.6s;
}

/* Styl dla przycisku "Zadzwoń teraz" */
.call-now {
    text-align: center;
    margin: 10px 0;
}

.call-button {
    display: inline-block;
    background-color: #87CEEB;
    color: #333;
    font-size: 32px;
    padding: 15px 30px;
    border: 2px solid #333;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.call-button:hover {
    background-color: #5EA5BB;
    transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 1024px) {

    header {
        flex-direction: row;
        position: static;
    }
    footer {
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .icon-container {
        margin-bottom: 15px;
    }

    footer .contact-info p {
        margin: 5px 0;
    }

    footer .call-now {
        margin-top: 15px;
    }

    .call-button {
        padding: 10px 20px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .appointment-btn {
        width: auto;
        display: block;
        text-align: center;
        box-sizing: border-box;
        margin-top: 10px;
        align-self: center;
        width: 100%;
    }

    .appointment-btn:hover {
        background-color: #5EA5BB;
        transform: scale(1.00);
    }

    .logo {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .logo img {
        max-width: 80%;
        max-height: 80%;
    }

    .nav-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu a {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
    }

    .logo img {
        max-width: 80%;
        max-height: 80%;
    }

    .nav-menu a {
        font-size: 14px;
        padding: 8px 0;
    }

    .appointment-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    footer {
        padding: 10px 20px;
    }

    .call-button {
        font-size: 16px;
        padding: 10px 20px;
    }
}
